

name: Release Component to ESP Registry
on:
  push:
    tags:
      - "*"

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install idf-component-manager
        run: |
          python -m pip install --upgrade pip
          pip install idf-component-manager

      - name: Verify installation
        run: |
          python -m idf_component_manager --help

      - name: Upload component
        env:
          ESP_IDF_COMPONENT_API_TOKEN: ${{ secrets.ESP_COMPONENTS }}
        run: |
          python -m idf_component_manager upload