name: Release Component to ESP Registry
on:
  push:
    tags:
      - '*'

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install ESP Component Registry CLI
        run: pip install idf-component-manager

      - name: Upload component
        env:
          ESP_IDF_COMPONENT_API_TOKEN: ${{ secrets.ESP_COMPONENTS }}
        run: |
          idf-component upload
