name: Release Component to ESP Registry
on:
  push:
    tags:
      - "*"

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install idf-component-manager
        run: |
          python -m pip install --upgrade pip
          pip install idf-component-manager
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Verify install
        run: |
          which idf-component || echo "idf-component NOT FOUND!"
          idf-component --help

      - name: Upload component
        env:
          ESP_IDF_COMPONENT_API_TOKEN: ${{ secrets.ESP_IDF_COMPONENT_API_TOKEN }}
        run: |
          idf-component upload
